.bio-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: lightblue;
}

.bio-headshot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.bio-headshot img {
    width: 250px;
    height: 400px;
    object-fit: contain;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
}

.bio-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-size: 1em;
    text-align: left;
}