.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    background-color: #0f471e;
    height: 50px;
    border-bottom: 2px solid green;
    border-top: 2px solid green;
}

.navbar h1 {
    margin-left: 15px;
    color: white;
    font-size: 2.5rem;
    font-family: 'Great Vibes';
}

.nav-links {
    list-style-type: none;
    position: absolute;
    left: 50%;
    transform: translateX(-25%);
    display: flex;
    gap: 50px;
    width: 800px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Cormorant Garamond';
}