.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    background-color: #809AA7;
    height: 90px;
}

.navbar h1 {
    margin-left: 15px;
    color: white;
    font-size: 2.5rem;
}

.nav-links {
    list-style-type: none;
    position: absolute;
    left: 50%;
    transform: translateX(-25%);
    display: flex;
    gap: 50px;
    width: 800px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Cormorant Garamond';
}

.logo {
    height: 500px;
    padding: 1.5rem;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo img {
    /* height: 60px; */
    align-items: middle;
    display: block;
}