.tagline {
  font-family: 'Tai Heritage Pro', serif;
  font-size: x-large;
  font-weight: 100;
}

.tagline-container {
  background-image: url("/images/beach-blurred-background.jpg");
  background-size: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

.tagline-content {
  flex: 0.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo-container {
  flex: 0.3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.teacher {
  text-align: center;
}

li {
  list-style-type: none;
  text-align: center;
}