.biography {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.biography img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bio-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1.5em;
    background-color: lightblue;
}

.image-quote {
    position: absolute;
    top: 10%;
    right: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    background-color: transparent;
}

.image-quote h2 {
    margin: 0;
    font-size: 4em;
}

#headshot {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.button {
    background-color: lightblue;
}

.button-schedule {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.help {
    background-color: lightblue;
    padding: 15px;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    background-color: #809AA7;
}

.navbar h1 {
    margin-left: 15px;
    color: #417933;
}

.nav-links {
    list-style-type: none;
    position: absolute;
    left: 50%;
    transform: translateX(-25%);
    display: flex;
    gap: 50px;
    width: 600px;
}

.nav-links a {
    text-decoration: none;
    color: #417933;
    font-weight: bold;
    font-size: 20px;
}

h2 {
    text-align: center;
}

.logo img {
    height: 70px;
}

.teacher {
    text-align: center;
}

h1 {
    font-family: 'Playwrite CA', cursive;
    color: purple;
}

li {
    list-style-type: none;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    height: auto;
}

.button-design {
    font-size: 1.5rem;
    border-radius: 10%;
}